body { 
  padding-top:40px !important;
}
.page-header {
  margin-top:20px;
}

/* Front Page */
.masthead {
  background-color: #015769;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#015769), to(#01A6C9));
  background-image: -webkit-linear-gradient(#015769, #01A6C9);
  background-image: -moz-linear-gradient(#015769, #01A6C9);
  background-image: -o-linear-gradient(top, #015769, #01A6C9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#015769), to(#01A6C9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015769', endColorstr='#01A6C9', GradientType=0); /* IE8 and down */
}

.intro {
  background: transparent url(../images/template/grid-18px.png) top center;
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
}
.intro h1, .intro p {
  color:#fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 20px;
  line-height: 27px;
}
.intro h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.intro p {
  font-weight:300;
  width:700px;
  display: block;
  margin: 20px auto;
}

.summary {
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
  background-image: linear-gradient(#f9f9f9, #f5f5f5);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.summary .container {
  margin-bottom: 0px;
}
.summary .row {
  margin: 0 -20px;
  -webkit-box-shadow: 1px 0 0 #f9f9f9;
     -moz-box-shadow: 1px 0 0 #f9f9f9;
          box-shadow: 1px 0 0 #f9f9f9;
}
.summary [class*="span"] {
  width: 285px;
  height:150px;
  margin-left: 0 !important;
  padding: 17px 20px 26px;
  border-left: 1px solid #eee;
  -webkit-box-shadow: inset 1px 0 0 #f9f9f9;
     -moz-box-shadow: inset 1px 0 0 #f9f9f9;
          box-shadow: inset 1px 0 0 #f9f9f9;
}
.summary [class*="span"]:last-child {
  border-right: 1px solid #eee;
  width: 286px;
}

.summary h2 {
  margin-bottom:10px;
}
.summary .btn {
  display:block;
  margin-bottom:10px;
}

table .icon { width: 16px; }
.hover-info { display: none; white-space: nowrap;}

.login-form { margin-left: -80px ; margin-top: -20px; }

.footer {
  background-color: #eee;
  min-width: 940px;
  padding: 20px 0px 15px 0px;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
     -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
/*          box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
*/}
.footer p {
  color: #555;
}

.dropdown-menu li {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-inner {
  min-width: 280px;
}