html, body { height: 100% !important; overflow: hidden; cursor: default; -webkit-user-select: none; }
body.manage { padding-bottom: 80px; padding-top: 60px; }
* { -webkit-user-drag: none; }

.wrap {
  min-height: 100%;
  height: 100% !important;
  margin: 0 auto -70px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(359deg);
  }
}


@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

.new-message span { 
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}

.rotate {
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         2s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
  padding-bottom: 6px;
  margin-bottom: -6px;
}

#header {}

.container { max-width: 100% !important; height: 100% !important; }
#main-panel, #left-panel, #left-panel-content, #left-panel-content .tab-pane, #right-panel { height: 100% !important; }
#left-panel { padding-top: 50px; }
#right-panel { padding-top: 50px; padding-left: 0px; }
#tabs { margin-top:-50px; margin-bottom: 10px; }

table { table-layout: fixed; margin-bottom: 0px !important; }
tbody tr:hover { cursor: pointer; }
.selected>td { background-color: #dcdcdc !important; }
.icon { width: 25px; }
.nowrap { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.loading { width: 100%; text-align: center; padding-top: 50px; }

/* Modals */
.modal-body h1 { margin: 5px 0px -10px 10px; }
.modal { overflow-y: hidden; }
.modal-open, .modal-open .navbar { margin-right: 0px !important; }

/* Footer */
#footer { height: 70px; }
#logo { float: left !important; padding: 17px 10px; }
#footer .navbar-brand { padding: 5px 0px; white-space: nowrap; }
#footer .time { font-size: 1.8em; font-weight: bold; line-height: 37px; }
#contact { text-align: right; margin-top: 5px; white-space: nowrap; }
#footer a { margin: 12.5px 0px; }

/* Search tab */
#search { padding-top: 70px; }
#search-text { padding: 0px 0px 0px 15px !important; }
#search-button { padding: 0px 15px 0px 5px !important; }
#search-options { padding: 0px !important; margin-top: -15px; }
#search-form { height: 70px; margin-top: -70px;}
#search-results { height: 100% !important; overflow-y: scroll; }

#search .artist { width: 25%; }
#search .title { width: auto; }
#search .album { width: 20%; }
#search .length { width: 15%; }

/* Messages tab */
#message-list { height: 30%; overflow-y: scroll; }
#message-content { height: 70% !important; overflow-x: hidden; }
#message-content .panel, #message-content .panel-body, iframe { height: 100%; width: 100%; }
#message-content .panel { margin-bottom: 0px !important; }
#message-content .panel-heading h4 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#message-content .panel-body { margin-top: -60px; padding: 65px 5px 5px 5px; }
#message-content iframe { border: 0; margin: 0; }

#messages .from { width: 20%; }
#messages .subject { width: auto; }
#messages .datetime { width: 20%; }

/* Playlists tab */
#playlists-list { height: 100%; overflow-y: scroll; }
#playlists-list .panel-heading { cursor: pointer; }
#playlists-list .panel-heading:hover { background: #eee; }

/* Files tab */
#file-browser { height: 100%; overflow-y: scroll; }
#file-browser .panel-heading { cursor: pointer; }
#file-browser .panel-heading:hover { background: #eee; }

/* Logging tab */
#logging { padding-top: 35px; }
#logging-form { height: 35px; margin-top: -35px; }
#log { height: 100%; overflow-y: scroll; }

/* Showplan */
#showplan { height: 100%; overflow-y: scroll; }
#showplan-title { margin-top: -50px; margin-bottom: 0px; height: 50px; }
#showplan .panel-heading, #showplan-title .clear-showplan { cursor: pointer; }
#showplan-title .clear-showplan:hover { color: #428bca; }
#showplan .panel-default .panel-heading:hover { background: #eee; }
#showplan .panel h4 { padding-left: 20px; }
#showplan .panel h4>span { float: left; margin-left: -23px; margin-top: -2px; }
#showplan .controls { display: none; text-align: right; margin-top: -1px; }
#showplan .controls span { margin-left: 5px; }
#showplan .duration { text-align: right; }


/* Playout */
body.playout, .playout .row, #players, #players .col-xs-12 { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
.playout .container>.row, #players, .audio-player { height: 100%; }
.playout .container { padding: 10px; }
#players>div { padding: 5px 0px; }
#players>div:first-child { padding: 0px 0px 5px 0px; }
#players>div:last-child { padding: 5px 0px 0px 0px; }
#players .player { height: 30%; }
.player .panel { height: 100%; }
#players .sustainer { height: 10%; }
#players .panel-heading { padding: 0.2vh 10px; font-size: 1.5vh; height: 10%; }
#players .panel-body { padding: 10px; height: 90%; }
.audio-player>.col-xs-12 { height: 100%; }
.meta { height: 45%; }
.transport { height: 35%; }
.waveform { height: 20%; }
.waveform .progress { height: 100%; }
.transport { padding-top: 5px; }
.transport .col-xs-4 button { height: 100%; width: 48%; font-size: 3.8vh; }

.meta .title { font-size: 4vh; }
.meta .artist { font-size: 2vh; }
.transport .time { font-size: 4vh; }