html,body { height: 100%; }
body { padding-top:50px !important; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push, footer { height: 60px; }
 
footer { font-size: 1em !important; padding: 0px !important; margin: 0px !important; }
footer p { margin: 20px 0; }
footer img { margin: 12px 0; }

.feature-image { background-size: cover; background-position: center center; }
.search-pull-right { float: right; }
.panel-noborder { box-shadow: none !important;}
.full-search { font-style: italic; }

@media (min-width: 992px) and (max-width: 1200px) {
  .search-pull-right { width: 20% !important; }
}

@media (min-width: 769px) and (max-width: 991px) {
  
}

@media (max-width: 768px) {
  small { float: right; width: 100%; text-align: right; }
  small:after { content: ""; clear: both; display: block; }

  #push, footer { height: 120px; }
  footer p { margin: 10px 0; }

  .search-pull-right { float: none !important; width: 100% !important; }
}

/* ============ Generic rules ============ */
table .icon { width: 16px; }
.hover-info { display: none; white-space: nowrap;}
table .nowrap { white-space: nowrap; }
.panel-collapse table { margin-bottom: 0px; }

.keyword a i { float: right; margin-right: 6px; margin-top: 6px; display: inline;}
.panel [data-toggle=collapse] { cursor: pointer; }
.panel-default [data-toggle=collapse]:hover { background: #eee; }

/* ============= Audio players =============== */
.audio-player > div > div > div { width: 100%; margin: auto; }
.audio-player > div > div > div > div:nth-child(1) { width: 65px; float: left; }
.audio-player > div > div > div > div:nth-child(2) { margin-left: 70px; }
.audio-player > div > div > div > div:nth-child(2) > div { height: 110px; position: relative;}
.audio-player wave { overflow-x: hidden; }
.audio-player button.playpause { height: 60px; width: 60px; font-size: 2.2em; padding-left: 15px; border-radius: 100%; padding-top: 8px; }
.audio-player button.btn-sm { padding: 2px 5px; }
.audio-player .progress { position: absolute; width: 100%; top: 30px; }
.audio-player h6 { margin-top: 7px; margin-bottom: 7px; }
.wavesurfer-region {
  background: rgba(200,100,100,0.1);
  border-left: 1px solid rgba(200,100,100,0.4);
  border-right: 1px solid rgba(200,100,100,0.4);
  cursor: default;
}

/* ============== Uploader =============== */
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-progress { text-align: right; }
.files tr td { vertical-align: middle !important; }
.files .progress { margin-bottom: 0px !important; }

/* Group admin */
#groups li:hover, #group-members .glyphicon-remove:hover { cursor: pointer; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg) translate3d( 0, 0, 0);
    
  }
  to { 
    -webkit-transform: rotateZ(359deg) translate3d( 0, 0, 0);

  }
}

.rotate {
  -webkit-transform-style: preserve-3d; 
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
  -webkit-filter: blur(0);
}

.icon-huge { font-size: 72px; }
.dashboard-stamp h4 { margin-top: -5px; }
.dashboard-stamp h2 { margin-top: 15px; }

.navbar-spinner {
	position: relative;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

.navbar-spinner .spinner {
	position: absolute;
	top: 12px;
	left: -40px;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  stroke: #ccc;
  -webkit-animation: dash 1.4s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
