html,body {
  height: 100%;
}

body { 
  padding-top:50px !important;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push, footer {
  height: 60px;
}
 
footer { font-size: 1em !important; padding: 0px !important; margin: 0px !important; }
footer p { margin: 20px 0; }
footer img { margin: 12px 0; }

.feature-image {
  background-size: cover;
  background-position: center center;
}

.sidebar {
  padding: 19px;
}

.sidebar-menu {
  padding: 8px 0; 
  margin-bottom: 0;
}

.sidebar-menu .nav li a {
  padding: 5px 15px;
}

.search-pull-right { float: right; }

@media (min-width: 992px) and (max-width: 1200px) {
  .search-pull-right { float: none !important; }
}

@media (min-width: 769px) and (max-width: 991px) {
  
}

@media (max-width: 768px) {
  small { float: right; width: 100%; text-align: right; }
  small:after { content: ""; clear: both; display: block; }

  #push, footer { height: 120px; }
  footer p { margin: 10px 0; }

  .search-pull-right { float: none !important; width: 100% !important; }
}

#quick-search { top: 45px; }
.full-search { font-style: italic; }

/* ============ Generic rules ============ */
table .icon { width: 16px; }
.hover-info { display: none; white-space: nowrap;}

/* ============ Music pages ============ */
table .artist { width: 150px; }
table .title { width: 250px; }
table .album { width: 200px; }
table .length { width: 52px; }

.keyword a i { float: right; margin-right: 6px; margin-top: 6px; display: inline;}

/* ============= Music import ========== */
.template-upload .name { overflow: hidden; white-space:nowrap; text-overflow: ellipsis; width: 100%;}
.template-upload .size { white-space: nowrap; }

.table-file-import tr.file { background: #f9f9f9; cursor: pointer; }
.table-file-import tr.file:hover { background: #ededed; }
.deleted { text-decoration: line-through; color: #666; cursor: default;}