#set this to your DPS website installation path:
php_value include_path /usr/share/dps/www/includes
php_value auto_prepend_file pre.php

Options -MultiViews
RewriteEngine  on
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}$1.php -f
RewriteRule ^(.*)/?$ $1.php [L]
